.product-container{
    border: 1-x solid black;
    display: inline-block;
    width: 240px;
    height: 320;
    margin: 5px 7px;
    border-radius: 4px;

}
.product .prices {
    display: flex;
    justify-content: space-around;
  }
  
  .product .prices .total {
    font-size: 20px;
    font-weight: bold;
    color: #ee6c4d;
  }
  
  .product .prices .price {
    font-size: 16px;
    color: #293241;
  }

  .product .controls {
    padding: 10px;
    border: 1px solid #efefef;
    background-color: #efefef;
    display:flex;
    justify-content: space-between;
  }

  img {
    size: 200px;
  }