.product-container{
    border: 1px solid black;
    display: inline-block;
    width: 240px;
    height: 320;
    margin: 5px 2px 7px 2px;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(245, 245, 220);
    font-family: cursive;
}

.product-title{
  color:black;
  font-weight: 700;
}

.product .prices {
    display: flex;
    justify-content: space-around;

  }
  
.product .prices .total {
    font-size: 20px;
    font-weight: bold;
    color: rgb(174, 77, 77);
  }
  
.product .prices .price {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 900;
    color: #000000;
  }

.product .controls {
    padding: 10px;
    border: 1px solid #efefef;
    background-color: beige;
    display:flex;
    justify-content: space-between;
  }

  .product-container img {
    width: 200px;
    height: 200px;
  }

  .quantityPicker {
    font: black;
  }